{% extends 'main.html' %}
{% load static %}
{% block title %}<title>{{ product.title }}</title>  {% endblock %}
{% block description %}<meta name="description" content="Описание и покупка фильма {{ product.title }}"/> {% endblock %}
{% block keywords %}<meta name="keywords" content="описание фильм {{ product.title|lower }}, купить фильм {{ product.title|lower }}" />{% endblock %}
{% block content %}



<div id="right">
	<table id="hornav">
	<tr>
		<td>
			<a href="{% url 'home' %}">Главная</a>
		</td>
		<td>
			<img src="{% static 'images/hornav_arrow.png' %}" alt="" />
		</td>
		<td>
			<a href="{{ product.section.get_absolut_url }}">{{ product.section.title }}</a>
		</td>
		<td>
			<img src="{% static 'images/hornav_arrow.png' %}" alt="" />
		</td>
		<td>{{ product.title }}</td>
	</tr>
</table>
<table id="product">
	<tr>
		<td class="product_img">
			<img src="{{ product.image.url }}" alt="{{ product.title }}" />
		</td>
		<td class="product_desc">
			<p>Название: <span class="title">{{ product.title }}</span></p>
			<p>Год выхода: <span>{{ product.year }}</span></p>
			<p>Жанр: <span>{{ product.section.title }}</span></p>
			<p>Страна-производитель: <span>{{ product.country }}</span></p>
			<p>Режиссёр: <span>{{ product.director }}</span></p>
			{% if product.play %}

				{% load my_filters %}
				<p>Продолжительность: <span>{{ product.play|convert_play }}</span></p>

			{% endif %}
			<p>В ролях: <span>{{ product.cast }}</span></p>
			<table>
				<tr>
					<td>
						<p class="price">{{ product.price }}</p>
					</td>
					<td>
						<p>
							<a class="link_cart" href="{{ request.path }}?add_cart={{ product.id }}"></a>
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p class="desc_title">Описание:</p>
			<p class="desc">{{ product.description|linebreaksbr }}
<br />
<br />Один из солдат, выживший после авиакатастрофы, но потерявший память, пытается бороться со своими мыслями и вспомнить, кто он. На пути к истине ему мешают, и он не знает, кому можно верить.</p>
		</td>
	</tr>
</table>
<div id="others">
	<h3>С этим товаром также заказывают:</h3>
	<table class="products">
		<tr>
			{% for other_product in products %}
				 {% include 'product.html' with product=other_product %}
			{% endfor %}
		</tr>
	</table>
</div>
	{% endblock %}